
body {
    background-color: rgb(0, 0, 0);
}

h1 {
    /* justify-content: center; */
    /* align-items: center; */
    text-align: center;
    color: blue;
    border: 2px solid rgb(75, 75, 75);
    /* margin: 100; */
    border-radius: 8px;
    border-width: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 37px;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


p {
    font-size: 16px;
    color: rgb(255, 255, 255);
}

.heading1 {
    background-color: white;
    border-radius: 8px;
}
